<div class="large-12 column">
  <h2 class="subheader">About us</h2>
<p>Cities are made of people, after all. Knowing your city is only possible through knowing yourself. So when we connect personal and urban data, people will be able to see their impact on the city and how the city affects them and their personal and group outcomes. </p>

<p>We expect these new data-driven discussion to accelerate the way groups form around their common urban interests and common personal data sources. </p>

<p>Our hope, of course, is that this new empowerment leads to advanced civic insights and actions.</p>

<p>Know yourself. Know your city. </p>
</div>