<div class="large-12 column">
  <h2 class="subheader">About us</h2>
<p>Cities are made of people, after all. Knowing your city is only possible through knowing yourself. So when we connect personal and urban data, people will be able to see their impact on the city and how the city affects them and their personal and group outcomes. </p>



<p>This data-enabled relationship between individuals, groups, and the city is a new type of civic intelligence. </p>



<p>We are helping create this new source of civic intelligence by providing the tools for people to safely contribute personal data and mash it up with urban data and the personal data of others.</p>



<p>This will unlock new urban and civic knowledge that will encourage people to ask and answer questions together about their cities.</p>




  <p>
    There are so many questions we could ask and answer together:
  </p>

      <p>
        What is average commute time and how does it differ from mine?
      </p>
      <p>
        How does the city’s sound level affect my well-being?
      </p>
      <p>
        What is the relationship between the availability of healthy food and public health?
      </p>

<p>Encouraging people to ask these questions and giving them the tools to answer them brings a new capacity for civic engagement.</p>



<p>Using voluntary personal data contributions, it also brings untold granularity of civic insights. </p>

 

<p>The technology is already available, whether its cameras, personal data stores, twitter, the web, and smartphones and their sensors.</p>



<p>On top of these we can throw analysis and visualization to form the basis of data driven discussions. </p>



<p>We expect these new data-driven discussion to accelerate the way groups form around their common urban interests and common personal data sources. </p>



<p>Our hope, of course, is that this new empowerment leads to advanced civic insights and actions.</p>



<p>Know yourself. Know your city. </p>
</div>