  <h1 class="subheader">Transit Time</h1>
<div class="large-6 column">
  <p>Your trasit time is longer than 80% of you local community.</p>
</div>
<div class="large-6 column">
  <%= render "layouts/bargraph" %>
</div>