<div class="large-4 column">
  <img src="http://fakeimg.pl/350x250/" alt="">
</div>
<div class="large-8 column">
  <div class="panel">
    <p>
      Etiam ornare dictum diam eu pharetra. Sed ultrices ornare dictum. Praesent mi dui, porta vel facilisis eget, vestibulum eu magna. Ut a orci quis lectus mollis blandit non non eros. Sed ultricies mollis dignissim. In massa velit, auctor eget laoreet id, tristique a arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    </p>
    <a class="button radius success" href="#">I Accept</a>
  </div>
</div>
<hr>
<div class="row">
  <div class="column">
  <ul class="large-block-grid-8">
    <li>
      <img src="http://fakeimg.pl/100x100/?text=icon" alt="">
    </li>
    <li>
      <img src="http://fakeimg.pl/100x100/?text=icon" alt="">
    </li>
    <li>
      <img src="http://fakeimg.pl/100x100/?text=icon" alt="">
    </li>
    <li>
      <img src="http://fakeimg.pl/100x100/?text=icon" alt="">
    </li>
    <li>
      <img src="http://fakeimg.pl/100x100/?text=icon" alt="">
    </li>
    <li>
      <img src="http://fakeimg.pl/100x100/?text=icon" alt="">
    </li>
    <li>
      <img src="http://fakeimg.pl/100x100/?text=icon" alt="">
    </li>
    <li>
      <img src="http://fakeimg.pl/100x100/?text=icon" alt="">
    </li>
  </ul>
  </div>
</div>