
  <div class="column panel">
    <div class="">
    <label>
      Mission of the day:
    </label>
    <h1 class="centered">How can we improve trains?</h1>
    <p>You commute on a daily basis. You know the shortest path like no other. Share your data and be suprised what you learn.</p>
    <%= link_to "Accept this mission", "campaign", :class=>"button" %>
    </div>
  </div>
  <div class="column panel">
    <%= render "layouts/tool" %>
  </div>
<hr>