
  <div class="column panel">
    <div class="">
    <label>
      Mission of the day:
    </label>
    <h1 class="centered">Would you like to improve the trains?</h1>
    <p>You commute on a daily basis. You know the shortest path like no other. We want your data to help others like you.</p>

    <%= link_to "Accept this mission", "campaign", :class=>"button" %>
    </div>
  </div>
<hr>