<div class="column panel">
<h2>Mission Maker</h2>
<hr>
<form>
  <fieldset>

    <div class="row">
      <div class="large-8 columns">
        <label>Mission Name</label>
        <input type="text" placeholder="Avian Tracker">
      </div>
    </div>   
    <div class="row">
      <div class="large-12 columns">
        <label>Describe</label>
        <input type="text" placeholder="Participate in Cornel's annual bird count!">
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Tools</label>
        <textarea placeholder="Paper and pencil"></textarea>
      </div>
    </div>
        <div class="row">
      <div class="large-12 columns">
        <label>Urban Elements</label>
        <textarea placeholder="Walking path"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Desired Participation</label>
        <input type="text" placeholder="10-50">
      </div>
    </div>
    <%= link_to "Submit", "campaign", :class=>"button small" %>
  </fieldset>
</form>
</div>