
  <div class="column panel">
    <div class="">

    <h3 class="centered">Select your tools, and we'll suggest a mission.</h3>
<hr>
<div class="large-3 column">
  <div style="height:150px;">
<%= image_tag "penpaper.jpg", :class=>"max150px" %>
  </div>
  <h5 class="subheader">Pen and Paper</h5> 
    <p>See, count, and record.</p>

  <a href="#" class="button small radius secondary">Collect Now</a>
</div>
<div class="large-3 column">
<div class="select" style="height:150px; max-height:150px;">
<%= image_tag "iphone.jpg", :class=>"max150px" %>
</div>
  <h5 class="subheader">iPhone</h5>
  <ul class="">One device to sense them all.</p>

  <a href="#" class="button small radius secondary">Collect Now</a>
 </div>
<div class="large-3 column">
  <div style="height:150px;">
<%= image_tag "timer.jpeg", :class=>"max150px" %>
  </div>
  <h5 class="subheader">Timer</h5> 
    <p>Timing made useful.</p>

  <a href="#" class="button small radius secondary">Collect Now</a>
</div>
<div class="large-3 column">
  <div style="height:150px;">
<%= image_tag "gps.jpg", :class=>"max150px" %>
  </div>
  <h5 class="subheader">GPS Path</h5> 
    <p>Path for the city.</p>

  <a href="#" class="button small radius secondary">Collect Now</a>
</div>
  </div>