<div class="row">
  <div class="column">

  <h2 class="subheader">My Data Vault</h2>
  </div>
<div class="large-8 column panel">
    <h4 class="subheader">Mission History</h4>
  <table>
  <thead>
    <tr>
      <th width="200">Current Missions</th>
      <th>Start</th>
      <th width="150">End</th>
      <th width="150">Participation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ornithology Mission</td>
      <td>3/15/2013</td>
      <td>6/15/2013</td>
      <td>
      <form class="custom">
      <select id="customDropdown">
        <option>Full</option>
        <option>Private</option>
      </select>
      </form>
      </td>
    </tr>
    <tr>
      <td>Quantified Commute</td>
      <td>1/1/2013</td>
      <td>12/31/2013</td>
      <td>
      <form class="custom">
      <select id="customDropdown">
        <option>Private</option>
        <option>Full</option>
      </select>
      </form>
      </td>
    </tr>
    <tr>
      <td>PicMyFood</td>
      <td>1/1/2013</td>
      <td>12/31/2013</td>
      <td>
      <form class="custom">
      <select id="customDropdown">
        <option>Family</option>
        <option>Private</option>
      </select>
      </form>
      </td>
    </tr>
    <tr>
      <td>Noise Census</td>
      <td>1/1/2013</td>
      <td>12/31/2013</td>
      <td>
      <form class="custom">
      <select id="customDropdown">
        <option>CUSP</option>
        <option>Private</option>
      </select>
      </form>
      </td>
    </tr>
    <tr>
      <td>Fire Hydrant Census</td>
      <td>4/1/2013</td>
      <td>4/5/2013</td>
      <td>
      <form class="custom">
      <select id="customDropdown">
        <option>Parking App</option>
        <option>Private</option>
      </select>
      </form>
      </td>
    </tr>
    <tr>
      <td>Tree Census</td>
      <td>4/1/2013</td>
      <td>4/5/2013</td>
      <td>
      <form class="custom">
      <select id="customDropdown">
        <option>Dept Parks</option>
        <option>Private</option>
      </select>
      </form>
      </td>
    </tr>
  </tbody>
</table>
<a href="#" class="radius button secondary small expand">Save Changes</a>
</div>
<div class="large-4 column">
  <h4 class="subheader">Personal Data Vault</h4> 
  <ul class="side-nav">
    <li class="active"><a href="#">Work</a></li>
    <li>
      <ul>
        <li><a href="">Experience</a></li>
        <li>
        <ul>
          <li><a href="">Resume</a></li>
          <li><a href="">Recommendation</a></li>
        </ul>
        </li>
           <li><a href="">Collaborations</a></li>
        <li>
        <ul>
          <li><a href="">GovLab</a></li>
          <li><a href="">NYCEDC</a></li>
          <li><a href="">CUSP</a></li>
        </ul>
        </li>
      </ul>
    </li>
    <li><a href="#">Health</a></li>
    <li><a href="#">Education</a></li>
    <li><a href="#">Interests</a></li>
  </ul>
</div>
<hr>
<%= render 'layouts/contentpre' %>
</div>