<div class="column">
  <div class="large-6 column row">
    <h4 class="subheader">
      Last weeks mission
    </h4>
      <ul class="large-block-grid-4">
    <li>
      <img src="http://fakeimg.pl/100x100/?text=icon" alt="">
    </li>
    <li>
      <img src="http://fakeimg.pl/100x100/?text=icon" alt="">
    </li>
    <li>
      <img src="http://fakeimg.pl/100x100/?text=icon" alt="">
    </li>
    <li>
      <img src="http://fakeimg.pl/100x100/?text=icon" alt="">
    </li>
  </ul>
  </div>
  <div class="large-6 column row">
    <h4 class="subheader">
      About <b>citymission</b>
    </h4>
    <p>
Cities are made of people, after all. Knowing your city is only possible through knowing yourself. We connect personal and urban data, people will be able to see their impact on the city and how the city affects them and their personal and group outcomes. 
    </p>
  </div>
</div>