<div class="column">
  <h2 class="subheader">
Accept your mission.
</h2>
<a href="#" data-dropdown="drop1" class="button secondary radius dropdown">Start Now<span data-dropdown="drop1"></span></a><br>

<ul id="drop1" class="f-dropdown" data-dropdown-content>
  <li><a href="#">Sights</a></li>
  <li><a href="#">Smells</a></li>
  <li><a href="#">Sounds</a></li>
</ul>
</div>
<hr>