<div class="column panel">
  <div class="large-6 column row">
    <h4 class="subheader">
      Last weeks mission
    </h4>
      <ul class="large-block-grid-5">
    <li>
      <%= image_tag "100x100.png" %>
    </li>
    <li>
      <%= image_tag "100x1001.png" %>
    </li>
    <li>
      <%= image_tag "100x1002.png" %>
    </li>
    <li>
      <%= image_tag "100x1003.png" %>
    </li>
  </ul>
  <a href="#">
    <p>See <b>citymission</b> archive</p>
  </a>
  </div>
  <div class="large-6 column row">
    <h4 class="subheader">
      About <b>citymission</b>
    </h4>
    <p>
CityMission provides tools for people to ask questions about the city and collect data together.
    </p>
  </div>
</div>