<div class="large-12 row">
  <hr>
  <div class="column large-6">
    <p>
      Site content © 2013 citymission, inc.
    </p>
  </div>
  <div class="column large-6 text-right">
    <p>
      <a href="">Home /</a> 
      <a href="">Products /</a> 
      <a href="">Company /</a> 
      <a href="">Blog</a> 
    </p>
  </div>
</div>