<%= render 'layouts/contentpre' %>
<div class="large-8 column">
  <h2 class="subheader">My Data Vault</h2>
  <table>
    <h4 class="subheader">Mission History</h4>
  <thead>
    <tr>
      <th width="200">Current Missions</th>
      <th>Start</th>
      <th width="150">End</th>
      <th width="150">Participation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ornithology Mission</td>
      <td>3/15/2013</td>
      <td>6/15/2013</td>
      <td>
      <form class="custom">
      <label for="customDropdown">Full</label>
      <select id="customDropdown">
        <option>Private</option>
      </select>
      </form>
      </td>
    </tr>
    <tr>
      <td>Quantified Commute</td>
      <td>1/1/2013</td>
      <td>12/31/2013</td>
      <td>
      <form class="custom">
      <label for="customDropdown">Private</label>
      <select id="customDropdown">
        <option>Full</option>
      </select>
      </form>
      </td>
    </tr>
    <tr>
      <td>PicMyFood</td>
      <td>1/1/2013</td>
      <td>12/31/2013</td>
      <td>
      <form class="custom">
      <label for="customDropdown">Family</label>
      <select id="customDropdown">
        <option>Private</option>
      </select>
      </form>
      </td>
    </tr>
    <tr>
      <td>Noise Census</td>
      <td>1/1/2013</td>
      <td>12/31/2013</td>
      <td>
      <form class="custom">
      <label for="customDropdown">CUSP</label>
      <select id="customDropdown">
        <option>Private</option>
      </select>
      </form>
      </td>
    </tr>
    <tr>
      <td>Fire Hydrant Census</td>
      <td>4/1/2013</td>
      <td>4/5/2013</td>
      <td>
      <form class="custom">
      <label for="customDropdown">Parking App</label>
      <select id="customDropdown">
        <option>Private</option>
      </select>
      </form>
      </td>
    </tr>
    <tr>
      <td>Tree Census</td>
      <td>4/1/2013</td>
      <td>4/5/2013</td>
      <td>
      <form class="custom">
      <label for="customDropdown">Dept Parks</label>
      <select id="customDropdown">
        <option>Private</option>
      </select>
      </form>
      </td>
    </tr>
  </tbody>
</table>
</div>
<div class="large-4 column"></div>